page-dashboard {

  ion-content{
    ion-card {
      position: relative;
      text-align: center;
      box-shadow: 5px 5px grey;
      .card-title{
        font-family: titr;
        font-size: 2.0rem;
        color: #000;
      }
      .card-subtitle {
        font-size: 1.5rem;
        color:indigo;
      }
      &:hover{
        &::after{
          content: " ";
          z-index: 10;
          display: block;
          position: absolute;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          background: rgba(0, 0, 0, 0.5);
        }
      }
    }

  }

}
